<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        main {
            padding-left: 500px;
            padding-right:  500px;
         }
    </style>
</head>
<body class="text-center">
<header th:insert="blocks/header :: header"></header>
<main class="form-signin">
    <form>
        <img class="mb-2" src="https://www.interway.sk/templates/interway/iwaycloud/assets/images/lang-ico/ico-spring.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Authorization</h1>
        <label for="inputEmail" class="mt-4 visually-hidden">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""><br>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    </form>
</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>